<%- include('partials/_header') %> %>

  <div class="">

    <div id="carouselExampleFade" class="">

      <div class="carousel-inner d-flex justify-content-around align-items-center">

        <div id="slider-izquierdo" class="">
          <button class="btn btn-light"> < </button>
        </div>
    
        <div class="d-flex justify-content-center">
          <div class="slider-screen col-lg-10 ">
            <img name="Imagen" class="d-block w-100 rounded-2">
          </div>
        </div>
        
        <div id="slider-derecho" class="">
          <button class="btn btn-light">></button>
        </div>
      </div>
    </div>  
  
  <div class="text-center">
    <% data.forEach((bodega, index) => { %>  
      <% if(apto == bodega.url) { %>
        <p class="display-6"><%=bodega.ubicacion %></p>
        <h6>Area Bodega : <%=bodega.areaBodega %> M2</h6>
        <h6>Area Oficinas : <%=bodega.areaOficinas %> M2</h6>
        <h6>Area Patio : <%=bodega.areaPatio %> M2</h6>
        <h6>Area Completa : <%=bodega.areaBodega + bodega.areaOficinas + bodega.areaPatio %> M2</h6>
        <% let areaTotal = bodega.areaBodega + bodega.areaOficinas + bodega.areaPatio %>
        <br>
        <h6>Valor arriendo: $ <%=bodega.precio.toLocaleString() %></h6>
        <% let precio = parseInt(bodega.precio, 10) %>
        <% let iva = precio * 0.19 %>
        <h6>IVA arriendo: $ <%=iva.toLocaleString() %></h6>
        <h6>Administración: $ <%=bodega.admon.toLocaleString() %></h6>
        <p class="display-6">Canon total mes : $ <%=(bodega.precio + iva +bodega.admon).toLocaleString() %></p>
        <% let metroCuadrado = Math.floor((bodega.precio + iva +bodega.admon) / areaTotal) %>
        <h6>VALOR M2: $ <%=metroCuadrado.toLocaleString() %></h6>

        <br>
        <p class="display-6">DESCRIPCION </p>
        <div class="d-lg-flex justify-content-center">
          <p class="col-lg-8"><%=bodega.descripcion %> </p>
        </div>
        
        <p class="display-6">CARACTERISTICAS:</p>
        <div class="d-flex justify-content-center">
          <div class="col-lg-8 col-10">
            <ul class="" >
              <% for (z = 0; z < (bodega.caracteristicas.length); ++z) { %>
                <li class="" style="list-style-type: none;"><%=bodega.caracteristicas[z] %></li>
                <br>
              </ul>
            <% } %>
          </div>  
        </div>

  </div>

  <% }})  %>

  <br><br><br>
  <script src="slider.js"></script>

</body>

</html>